.reportWrapper {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-inline: 10%;
    padding-bottom: 70px;
    text-align: center;
    width: 100%;
}