{
    "**/*.{ts,js,tsx}": ["prettier --write", "yarn eslint --fix"],
    "client/**/*.{scss,css}": ["prettier --write", "yarn stylelint --fix"],
    "**/*.{md,json,template.html}": ["prettier --write"]
}
